<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1"
    />
    <meta
      name="description"
      content="Freshtoran - Temukan Restoran Sesuai Keinginan Anda"
    />
    <meta name="theme-color" content="#1a202c" />
    <title>Freshtoran - Temukan Restoran Sesuai Keinginan Anda</title>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png" />
    <link rel="icon" href="/favicon.png" />
    <link rel="manifest" href="/manifest.json" />

    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <a href="#main-content" class="skip-link">Menuju konten utama</a>
    <header>
      <nav class="navbar">
        <div class="container">
          <a class="navbar--brand" href="#">
            <img src="/icons/icon-192x192.png" alt="" width="32" height="32" />
            Freshtoran
          </a>
          <button class="navbar--toggle">☰</button>
          <ul class="nav--list">
            <li>
              <a href="#" class="nav--item">Home</a>
            </li>
            <li>
              <a href="#/favorites" class="nav--item">Favorite</a>
            </li>
            <li>
              <a href="https://github.com/nrcfrld" class="nav--item"
                >About Us</a
              >
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <main id="main-content"></main>
    <footer tabindex="0">Copyright © 2021 - Freshtoran</footer>
  </body>
</html>
